:root {
    --gutter: 0.6rem;
    --fullwidth: calc(100vw - 2rem);
    --col: calc(var(--fullwidth) / 6);
    --half: calc(var(--fullwidth) / 2);

    --bgcolor: #eee;
    --maincolor: #333;
    --secondarycolor: lightgrey;
    --highlight-color: #00f;
}

html {
    font-size: 0.975vw;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Menlo', monospace; 
    background-color: var(--bgcolor);   
    color: var(--maincolor);                                         
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}
a:hover {
    background-color: var(--highlight-color);
    color: var(--bgcolor);
}

p { 
    font-size: 1rem;
    padding-right: 1rem;
    /* text-indent: 2rem; */
}
h1, h2, h3, h4, h5, h6, small {
    font-size: 1rem;
    font-weight: normal;
}

h1::before {
    content: "# ";
}
h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}

ul {
    margin: 0;
    padding: 0;
    list-style:none;
}


pre {
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main {
    margin: 0 1rem;
}

.header {
    position: fixed;
    top: 0;
    background-color: var(--bgcolor);
    font-size: 1rem;
    padding: 0.5rem 0;
    z-index: 99;
}

.header__nav {
    position: absolute;
    right: 0;
    top: 1rem;
    text-align: right;
}

.grid-col-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--gutter);
    row-gap: 2rem;
    margin-top: 15rem;
}

.section{
    width: 100%;  
    grid-column: span 6;
    scroll-margin-top: 15rem;
}
.section .grid-col-12 {
    margin-bottom: 4rem;
}
.section__general {
    grid-column-start: 1;
    grid-column-end: 5;
}
.section__print {
    grid-column-start: 5;
    grid-column-end: 9;
}
.section__code {
    grid-column-start: 9;
    grid-column-end: 13;
}
.section__print p, .section__code p {
    opacity: 25%;
}
.section__print:hover p, .section__code:hover p {
    opacity: 100%;
}
.section__general::before,
.section__print::before,
.section__code::before {
    content: "-------------------------------------------------------";
}
.noline::before {
    content: "";
}

.inactive {
    opacity: 25%;
}

.header__link{
    cursor: pointer;
}
.header__link__info {
    display: none;
}

.header__link:hover .header__link__info {
    display: inline;
}

.footer {
    margin: 1rem 0;
}

/* --- MOBILE --- */
@media only screen and (max-width:425px) {
    html {
        font-size: 1.92vw;
    }
    .section{
        scroll-margin-top: 19rem;
    }

    header, p, h1, h2, h3, h4, h5, h6, li, a, span, small  {
        font-size: 10px;
    }
    .grid-col-12 {
        display: block;
        margin-top: 19rem;
    }
    .section{
        width: var(--fullwidth);
    }
    .header__link:hover .header__link__info{
        display: none;
    }

    .section__general::before {
        content: "-----------------------------------------------------------------------------------";
    }
    .section__print::before,
    .section__code::before {
        content: "";
    }
    .noline::before {
        content: "";
    }
    
}

